.item-container {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
  }

  p:hover {
    color: #0b1b32;
    font-weight: 800;
  }

  .list-label-container {
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }

  .list-label {
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .list-label:hover {
    color: #0b1b32;
    font-weight: 800;
  }

  .list-icon {
    height: 2.4rem;
    width: 2.4rem;
  }

  .completed {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
  }
}
