* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px */
  font-size: 62.5%;
  overflow-x: hidden;
  /* DOES NOT WORK ON SAFARI */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 2px;
}

/* GENERAL REUSEABLE COMPONENTS */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  height: 100vh;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* HELPER CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.padding-top-md {
  padding-top: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

/* BELOW 1344 PIXELS (Smaller Desktops) */
@media (max-width: 84em) {
  .heading-primary {
    font-size: 4.4rem;
  }
}

/* BELOW 1200 PIXELS (LANDSCAPE TABLETS) */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }
}

/* BELOW 944 PIXELS (TABLETS) */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}

/* BELOW 704 PIXELS (Smaller tablets) */
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }
}

/* BELOW 544 PIXELS (Phones) */
@media (max-width: 34em) {
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
}

/* CUSTOM FOCUS OUTLINE */
*:focus {
  outline: none;
}
